---
const { name, role } = Astro.props;
---


<article class="bg-white shadow-[10px_9px_0px_rgba(0,0,0,1)] border border-black pb-4 md:pb-8">
    <img class="w-full block h-[140px] md:h-[240px] object-cover" src={`/core_team_images/${name}.webp`} alt="core team portrait">
    <div class="px-4 md:px-8 mt-4 md:mt-6">
      <p class="font-semibold text-lg md:text-2xl">{name}</p>
      <p class="text-base md:text-xl">{role}</p>
    </div>
</article>