<div id="drawer" class="w-full fixed top-[90px] hidden z-[998]">
    <nav class="text-center flex flex-col gap-4 bg-white font-medium py-4">
      <a class="block no-underline" href="/">Home</a>
      <a class="block no-underline" href="/showcase">Showcase</a>
      </nav>
</div>