---
import GDSC from "./GDSC.astro";
---

<header class="w-full min-h-[80px] px-24 font-open py-6 flex justify-between items-center">
  <h1 class="text-3xl font-bold"><GDSC /> UII</h1>
  <nav class="flex justify-center gap-6 font-medium">
    <a class="block no-underline" href="#">About</a>
    <a class="block no-underline" href="#">Events Timeline</a>
    <a class="block no-underline" href="#">Articles</a>
    <a class="block no-underline" href="#">Documentation</a>
    <a class="block no-underline" href="#">Study Reference</a>
    <a class="block no-underline" href="#">Core Team</a>
    <a class="block no-underline" href="#">Media Partner</a>
  </nav>
</header>