---
import Navbar from "../components/navbar.astro";

const { frontmatter } = Astro.props;
---

<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.14.0/tabler-icons.min.css" />
		<title>{frontmatter.title}</title>
	</head>
	<body class="font-sans scroll-smooth scrollbar scrollbar-track-slate-300 scrollbar-thumb-green-500">
        <aside class="max-w-3xl w-full mx-auto pt-10 px-6 md:px-0">  
		  <img class="block w-full mb-2 object-cover h-[200px] md:h-[300px] rounded-lg" src="/article_images/menstruaction-cover.webp" />
		  <section class="text-sm flex items-center gap-4 text-gray-700">
			<div class="flex items-center gap-1"><span><i class="ti ti-user-circle text-xl"></i></span><p>{frontmatter.author}</p></div>
			<div class="flex items-center gap-1"><span><i class="ti ti-clock-hour-12 text-xl"></i></span><p>{frontmatter.minutesRead}</p></div>
		  </section>
		</aside>
		<main class="max-w-3xl w-full mx-auto pt-6 pb-10 prose lg:prose-lg px-6 md:px-0">
		  <slot />
        </main>
	</body>
</html>
<style is:global>
</style>
